<h2>Add new department</h2>
<hr />
<form action="/departments/new" method="post">
  <label for="department-name">Department name:</label>
  <input id="department-name" name="department-name" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
