<h2>Add new students</h2>
<hr />
<form action="/students/new" method="post">
  <label for="student-name">Student name:</label>
  <input id="student-name" name="student-name" type="text">
  <label for="student-date">Student date:</label>
  <input id="student-date" name="student-date" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
